<h1>New Recipe</h1>

<%= render "form.html", Map.merge(assigns, %{action: Routes.recipe_path(@conn, :create), ingredients: @ingredients}) %>

<span><%= link "Back", to: Routes.recipe_path(@conn, :index) %></span>
