<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "LeoDi" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section>
        <nav role="navigation" class="navbar" aria-label="main navigation">
          <div class="navbar-brand">
            <%= link to: Routes.page_path(@conn, :index), class: "navbar-item" do %>
              <div class="brand-wrapper">
                <img src="<%= Routes.static_path(@conn, "/images/motto.png") %>" alt="Motto" />
              </div>
            <% end %>
            <a class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navbar-menu" class="navbar-menu">
            <div class="navbar-start">
              <%= link "Recipes", to: Routes.recipe_path(@conn, :index), class: "navbar-item" %>
              <%= link "Ingredients", to: Routes.ingredient_path(@conn, :index), class: "navbar-item" %>
              <%= link "RecipeLists", to: Routes.recipe_list_path(@conn, :index), class: "navbar-item" %>
              <%= if Pow.Plug.current_user(@conn) do %>
                <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "navbar-item" %></span>
              <% end %>
            </div>
            <div class="navbar-end">
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "button is-light navbar-item" %>
              <% end %>
            </div>
          </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
